.hero {
  text-align: center;
  display: flex;
  place-content: center;
  margin: 50px;
}

.hero h1, .hero h2 {
  margin: 0
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(5, 75px);
  grid-gap: 5px;
}

.hero-container .top-left {
  grid-column: 1 / 8;
  grid-row: 1 / 5;
  border: 1px solid black;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.hero-container .top-left h2 {
  color: rgb(35, 35, 35)
}

.hero-container .top-left > h1, .top-left > h2 {
  margin: 15px 0;
}

.hero-container .top-right {
  grid-column: 8;
  grid-row: 1 / 5;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  border-radius: 50px;
}

.hero-container .bottom {
  grid-column: 1 / 8;
  grid-row: 5 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  border: none;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  transition: color .15s ease-in

}

.hero-container .bottom:hover {
  color: white;
}

.break {
  width: 80%;
  border: none;
  height: 1px;
  background-color: var(--secondary);
}

.explained-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-trainer-container {
  display: grid;
  grid-template-columns: repeat(12, 75px);
  grid-template-rows: repeat(6, 75px);
  grid-gap: 5px;
  margin: 25px
}

.body-trainer-container > div {
  border: 1px solid black;
}

.goals {
  padding: 0 2rem;
  grid-column: 1 / 6;
  grid-row: 1 / 4;
}